.constructor {
  display: flex;
  flex-direction: column;
}

.itemsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.totalAndButton {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.total {
  display: flex;
  align-items: center;
}
